SUPABASE_URL=
SUPABASE_SERVICE_KEY=
JWT_SECRET=
JWT_EXPIRE_MINUTES=10080
GMAIL_USER=
GMAIL_APP_PASSWORD=
ALLOWED_HOSTS=localhost,127.0.0.1,*.onrender.com
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:3000
